.board-container {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.board {
    display: grid;
    grid-template-columns: 4em 4em 4em;
    grid-template-rows: 4em 4em 4em;
    gap: 0.5em;
}

.cell {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ccc;
    background-color: #fff;
    border-radius: 5px;
    font-size: 2em;
    cursor: pointer;
}
